# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
__pycache__
.vs/
.vscode/
ExportedObj/
obj/
GSD/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.history/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Extensions/Windridge City Assets/NatureManufacture Assets - Trials Not Full Resolution/Advanced Foliage Pack/Unity grass/Unity Grass Models/Prefabs/prefab_unity_grass_forest_heather_01.prefab.meta
